.info-videoframe {
  display: flex;
  justify-content: space-between;
}
.listframe {
  max-width: 900px;
  width: 100%;
}
.gray2 {
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 25px;

  /* identical to box height */

  color: #c2c2c2;
}
