.list-itemchannel {
  li {
    border-bottom: 2px solid #fff;
  }
  li:hover {
    color: red;
    border-color: red;
    cursor: pointer;
    transition: 0.5s ease;
  }
}
.activelink {
  color: red;
  border-bottom: 2px solid red !important;
}
.divclass {
  margin-left: 20px;
  margin-top: auto;
  margin-bottom: auto;
  h4 {
    width: 431px;
  }
  p {
    width: 548px;
  }
}
